* {
    list-style: none;
    background: #E5E5E5;
}

a:link,
a:visited,
a:active {
    text-decoration: none;
}

body {
    font-family: 'Roboto', sans-serif;
}

.box1 {
    box-sizing: content-box;
}

.container {
    width: 1600px;
    height: 80px;
    left: 0px;
    top: 0px;
    background: #FFFFFF;
}

.logo {
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 700;
    font-size: 26px;
    line-height: 31px;
    /* identical to box height */
    text-align: right;
    letter-spacing: 0.03em;
    color: #2196F3;
}

.menu .link {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.02em;

    color: #212121;
}

.menuiz .link {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.02em;
    color: #757575;
}

.link:hover {
    color: #2196F3;
}